# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Build directories
dist/
build/

# Temporary files
tmp/
temp/

# Vercel config files
.vercel/

# IDE-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Coverage reports
coverage/

# Optional: Yarn lock file (if you are using Yarn)
yarn.lock

# Optional: Package lock file (if you are using npm)
package-lock.json
.vercel
